body{
    background-color:black;
    color: white
}
.blue{
color:blue;
}


img{
    height: 600px;
}

h1{
    text-align: center;
}
p{
    text-align: center;
}
ol{
    text-align: center;
    list-style-type: none; /* Quita los puntos */
    padding-left: 0;
}
ul{
    text-align: center;
    list-style-type: none; /* Quita los puntos */
    padding-left: 0;
}